@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left: 300px;
  margin-right: 300px;
 
}
@media (max-width: 1200px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
}